footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: rgba(34, 33, 33, 0.8);
  display: flex;
  color: hsla(0, 0%, 100%, 0.907);
  align-items: center;
}
.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Roboto";
}
.playStore {
  margin: 1vmax;
  width: 15vmax;
}
.appStore {
  margin: 1vmax;
  width: 13vmax;
}
.midFooter {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.midFooter > h1 {
  color: rgb(219, 61, 33);
  font-size: 4vmax;
  font-family: "Roboto";
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}
.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: hsla(0, 0%, 100%, 0.907);
  transition: all, 0.5s;
  margin: 0.5vmax;
}
.rightFooter > a:hover {
  color: rgb(167, 36, 13);
}
