.aboutContainer {
  background-color: white;
  width: 60vmax;
  display: flex;
  box-sizing: border-box;
  margin: auto;
  padding: 1%;
  margin-top: 15vh;
  /* justify-content: center; */
  /* text-align: center; */
  flex-direction: column;
}
.aboutHeading {
  font: 400 2rem "Roboto";
  margin-bottom: 5vh;
  padding-bottom: 3vh;
  text-align: center;
  border-bottom: 3px solid;
}
.textContainer {
  display: flex;
  margin-bottom: 5vh;
  flex-direction: column;
}
.textContainer > p {
  font: 100 1rem "";
  font-family: cursive;
  margin: 2vh;
  padding: 0.5vh;
}
.imagesContainer {
  display: flex;
  margin-top: 5vh;
}
.imagesContainer > img {
  width: 45%;
  padding: 1vh;
  margin: 1vh;
  border-radius: 10%;
  border-color: antiquewhite;
  border-style: ridge;
  transition: all 0.5s;
  height: fit-content;
}
.imagesContainer > img:hover {
  border-style: outset;
  transform: scale(1.05);
  border-color: bisque;
}
@media screen and (max-width: 600px) {
  .imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .aboutContainer {
    width: 100%;
  }
  .imagesContainer > img {
    width: 70%;
    padding: 1vh;
    margin: 1vh;
    border-radius: 10%;
    border-color: antiquewhite;
    border-style: ridge;
    transition: all 0.5s;
    height: fit-content;
  }
}
